body{
    font-family: 'Poppins', sans-serif;
    /* font-size: 14px; */
    color: white; 
    text-transform: initial;
    /*max-width: 100%;*/
    margin: 0;
}

html, body{height: 100%}

.topbar{
    color: #001D3D;
   /* height: fit-content;*/
  /*  width: 100%; */
}

.topbartitles{
    font-weight: bold;
    font-size: 20px;
    color: white;
    align-items: flex-end;
    text-decoration: none;
    padding: 15px;
}

img{
    border:none;
    /*max-width:5%; */
    height:auto;
}

.bg-custom{
    background-color: #001D3D;
}

nav{
    display: block;
}